<div style="padding: 24px; width: 200px; margin: auto; display: flex; flex-direction: column; gap: 24px;">

    <IgbButton style="width: 200px;">
        普通のボタン
    </IgbButton>

    <IgbButton style="width: 200px;" Class="align-left">
        左寄せ
    </IgbButton>

    <IgbButton style="width: 200px;" Class="align-right">
        右寄せ
    </IgbButton>

</div>
